<?xml version="1.0" encoding="utf-8"?>
<robot name="bike_sensors" xmlns:xacro="http://www.ros.org/wiki/xacro">

    <!-- Specifying Lidar and IMU sensors -->
    <gazebo reference="imu_link">
        <sensor type="imu" name="imu">
        <always_on>true</always_on>
        <visualize>true</visualize>
        </sensor>
        <material>Gazebo/FlatBlack</material>
    </gazebo>

    <gazebo>
        <plugin name="imu_plugin" filename="libgazebo_ros_imu.so">
        <alwaysOn>true</alwaysOn>
        <bodyName>imu_link</bodyName>
        <frameName>imu_link</frameName>
        <topicName>imu</topicName>
        <serviceName>imu_service</serviceName>
        <gaussianNoise>0.0</gaussianNoise>
        <updateRate>0</updateRate>
        <imu>
            <noise>
            <type>gaussian</type>
            <rate>
                <mean>0.0</mean>
                <stddev>2e-4</stddev>
                <bias_mean>0.0000075</bias_mean>
                <bias_stddev>0.0000008</bias_stddev>
            </rate>
            <accel>
                <mean>0.0</mean>
                <stddev>1.7e-2</stddev>
                <bias_mean>0.1</bias_mean>
                <bias_stddev>0.001</bias_stddev>
            </accel>
            </noise>
        </imu>
        </plugin>
    </gazebo>

    <link name="lidar_link">
        <visual>
        <origin xyz="0 0 0.0" rpy="0 0 0"/>
        <geometry>
            <mesh filename="package://self_balancing_bike/meshes/lidar_link.stl" scale="10e-5 10e-5 10e-5"/>
        </geometry>
        </visual>

        <collision>
        <origin xyz="0.00015 0 -0.000065" rpy="0 0 0"/>
        <geometry>
            <cylinder length="0.000315" radius="0.00055"/>
        </geometry>
        </collision>

        <inertial>
        <mass value="0.00114" />
        <origin xyz="0 0 0" />
        <inertia ixx="0.00001" ixy="0.0" ixz="0.0"
                iyy="0.00001" iyz="0.0"
                izz="0.00001" />
        </inertial>
    </link>

    <joint name="lidar_joint" type="fixed">
        <parent link="base_link"/>
        <child link="lidar_link"/>
        <origin xyz="0.194 0.0025 0.1105" rpy="0 0 0"/>
    </joint>

    <gazebo reference="lidar_link">
        <material>Gazebo/FlatBlack</material>
        <sensor type="ray" name="lds_lfcd_sensor">
        <pose>0 0 0 0 0 0</pose>
        <visualize>false</visualize>
        <update_rate>5</update_rate>
        <ray>
            <scan>
            <horizontal>
                <samples>180</samples>
                <resolution>1</resolution>
                <min_angle>-1.57</min_angle>
                <max_angle>1.57</max_angle>
            </horizontal>
            </scan>
            <range>
            <min>0.05</min>
            <max>10</max>
            <resolution>0.015</resolution>
            </range>
            <noise>
            <type>gaussian</type>
            <mean>0.0</mean>
            <stddev>0.01</stddev>
            </noise>
        </ray>
        <plugin name="gazebo_ros_lds_lfcd_controller" filename="libgazebo_ros_laser.so">
            <topicName>scan</topicName>
            <frameName>lidar_link</frameName>
        </plugin>
        </sensor>
    </gazebo>

</robot>
