<?xml version="1.0" encoding="utf-8"?>
<robot name="bike_actuators" xmlns:xacro="http://www.ros.org/wiki/xacro">

    <!-- Specifying the Tranmission controllers for various joints -->
    <transmission name="rear_wheel_transmission">
        <type>transmission_interface/SimpleTransmission</type>
        <joint name="rear_wheel_joint">
            <hardwareInterface>hardware_interface/VelocityJointInterface</hardwareInterface>
        </joint>
        <actuator name="rear_wheel_motor">
            <hardwareInterface>hardware_interface/VelocityJointInterface</hardwareInterface>
            <mechanicalReduction>1</mechanicalReduction>
        </actuator>
    </transmission>

    <transmission name="rw_transmission">
        <type>transmission_interface/SimpleTransmission</type>
        <joint name="rw_joint">
            <hardwareInterface>hardware_interface/VelocityJointInterface</hardwareInterface>
        </joint>
        <actuator name="rw_motor">
            <hardwareInterface>hardware_interface/VelocityJointInterface</hardwareInterface>
            <mechanicalReduction>1</mechanicalReduction>
        </actuator>
    </transmission>

    <transmission name="handle_transmission">
        <type>transmission_interface/SimpleTransmission</type>
        <joint name="handle_joint">
            <hardwareInterface>hardware_interface/EffortJointInterface</hardwareInterface>
        </joint>
        <actuator name="handle_motor">
            <hardwareInterface>hardware_interface/EffortJointInterface</hardwareInterface>
            <mechanicalReduction>1</mechanicalReduction>
        </actuator>
    </transmission>

  <!-- ROS-Gazebo Controller Plugin for these transmissions -->
    <gazebo>
	  <plugin name="gazebo_ros_control" filename="libgazebo_ros_control.so">
	    <robotNamespace>/bike</robotNamespace>
      <!-- <robotSimType>gazebo_ros_control/DefaultRobotHWSim</robotSimType> -->
	  </plugin>
	</gazebo>

</robot>