<?xml version="1.0" encoding="UTF-8"?>
<launch>
  <arg name="model" />
  <param
    name="robot_description"
    textfile="$(find self_balancing_bike)/urdf/bike.urdf" />

  <!-- for GUI Options to control the joints in rvix window  -->
  <node
    name="joint_state_publisher_gui"
    pkg="joint_state_publisher_gui"
    type="joint_state_publisher_gui" />

  <!-- to publish transforms between various joints that we see in rviz and the tf-tree -->
  <node
    name="robot_state_publisher"
    pkg="robot_state_publisher"
    type="robot_state_publisher" />

  <!-- to include an rviz file -->
  <node
    name="rviz"
    pkg="rviz"
    type="rviz"
    args="-d $(find self_balancing_bike)/rviz/sensor_actuators.rviz" />
</launch>
