<?xml version="1.0" encoding="UTF-8"?>
<launch>
  
  <include file="$(find self_balancing_bike)/launch/set_controllers_urdf.launch"/>

  <param name="robot_description" textfile="$(find self_balancing_bike)/urdf/bike.urdf"/>
  <arg name="node_start_delay" default="3.0" /> 
  
  <include
    file="$(find gazebo_ros)/launch/empty_world.launch" >
    <arg name="paused" value="false"/>
  </include>
     
  <node
    name="spawn_model"
    pkg="gazebo_ros"
    type="spawn_model"
    args="-file $(find self_balancing_bike)/urdf/bike.urdf -urdf -model bike"
    output="screen" />
  
  <!-- <node
    name="joint_state_publisher_gui"
    pkg="joint_state_publisher_gui"
    type="joint_state_publisher_gui" /> -->

</launch>
