<?xml version="1.0" encoding="UTF-8"?>
<launch>
    <rosparam file="$(find self_balancing_bike)/config/joint_actuators.yaml" command="load"/> 

    <param name="robot_description" textfile="$(find self_balancing_bike)/urdf/bike.urdf"/>
    <arg name="node_start_delay" default="3.0" />  

    <node name="set_bike_controllers" pkg="controller_manager" 
        type="spawner" respawn="false" output="screen" ns="/bike" 
        args="--namespace=/bike 
            rearWheel_jVel_controller
            rw_jVel_controller
            handle_jPos_controller 
            joint_state_controller"/>

    <node name="bike_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher" 
        respawn="false" output="screen" >
        <remap from="/joint_states" to="/bike/joint_states" />
        <param name="tf_prefix" value=""/>
    </node>

</launch>